<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases> 
        <typeAlias alias="User" type="com.loooz.bo.User"/>
        <typeAlias alias="Patient" type="com.loooz.bo.Patient"/> 
    </typeAliases> 
    
    <mappers>
        <mapper resource="com/loooz/bo/User.xml"/>
        <mapper resource="com/loooz/bo/Patient.xml"/>
    </mappers>
</configuration>